<div class="comments">
  <div class="post">
    <div>{{ type }}</div>
    <div><a href="{{ link }}"><strong>{{ title }}</strong></a></div>
    <div><small> {{ date }}</small> . <small> {{ author_name }}</small></div>
    <p> {{ summary }} </p>
  </div>
</div>
